/* Header bar  */
header {
  padding-bottom: 50px;
  padding-left: 0px;
  padding-right: 50px;
  padding-top: 0px;
}

.bar {
  background-color: #FFFFFF;
}

/* Style the bar links */
.bar a {
  float: right;
  display: block;
  font-size: 20px;
  font-family: "helvetica neue";
  color: #403F40;
  text-align: center;
  padding-bottom: 0px;
  padding-left: 30px;
  padding-right: 5px;
  padding-top: 20px;
  text-decoration: none;
}

/* Move the xs to the right */
.bar img {
  float: right;
}

/* My name top left corner */
.bar a.name {
  padding-top: 5px;
  padding-bottom:10px;
  float: left;
  font-size: 40px;
  font-family: "bodoni 72 smallcaps";
  color: #1E1E1F;
}

/* Animated bar under my name */
a.name::after {
  content: '';
  position: inherit;
  display:block;
  width: 100%;
  transform: scaleX(0);
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: #227756;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

a.name:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* Change color on hover */
.bar a:hover {
  color: #227756;
}

.bar a.name:hover {
  color: #403F40;
}

/* Remove border on all pages */
body {
  margin: 0;
}

/***********************************/
/* Dropdown menu for hobbies */
.dropbtn {
  background-color: #FFFFFF;
  color: #403F40;
  padding-bottom: 12px;
  padding-left: 30px;
  padding-right: 5px;
  padding-top: 20px;
  font-size: 20px;
  font-family: "helvetica neue";
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  float:right;
  padding-bottom: 0px;
  padding-left: 30px;
  padding-right: 5px;
  padding-top: 0px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #FFFFFF;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: #403F40;
  padding: 12px 16px;
  text-align: center;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {color: #227756}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  color: #227756;
}

/* Allow dropdown menu to be toggled with a click, for touchscreens */
.show {
  display: block;
}

/*******************************************/
/* Background for homepage*/
.home{
  background: url("/img/home.jpg") no-repeat center;
  background-size: cover;
  height: 800px;
  position: relative;
}

.hometext {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #FFFFFF;
}

h2 {
  font-size: 96px;
  font-family: "trebuchet ms";
}
h3 {
  font-size: 20px;
  font-family: "helvetica neue";
  font-weight: normal;
}

/********************************/
/* Generic page contents */

* {
  box-sizing: border-box;
}

/* Column container */
.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
}

h4 {
  margin-top: 30px;
  margin-bottom: 30px;
  padding-left: 30px;
  font-size: 96px;
  font-family: "hoefler text";
  font-weight: normal;
}

p {
  font-size: 20px;
  font-family: "helvetica neue";
  font-weight: normal;
}

/********************************/
/* Jazz page contents */

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.jazzphoto {
  -ms-flex: 50%; /* IE10 */
  flex: 50%;
  background: url("/img/Jazz.jpg") no-repeat top;
  background-size: cover;
  height: 100%;
  min-height: 800px;
  width:100%;
  position: relative;
}

/* Main column */
.jazztext {
  -ms-flex: 50%; /* IE10 */
  flex: 50%;
  background-color: #227756;
  color: #FFFFFF;
  padding: 30px;
}

/*******************************/
/* Dance page contents */

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.dancephoto {
  -ms-flex: 50%; /* IE10 */
  flex: 50%;
  background: url("/img/dance.jpg") no-repeat top;
  background-size: cover;
  height: 100%;
  min-height: 800px;
  width:100%;
  position: relative;
}

/* Main column */
.dancetext {
  -ms-flex: 50%; /* IE10 */
  flex: 50%;
  background: url("/img/Lights.jpg") no-repeat top;
  background-size: cover;
  color: #FFFFFF;
  padding: 30px;
}

/*******************************/
/* Sailing page contents */

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.sailingphoto {
  -ms-flex: 50%; /* IE10 */
  flex: 50%;
  background: url("/img/Sailing.jpg") no-repeat top;
  background-size: cover;
  height: 100%;
  min-height: 800px;
  width:100%;
  position: relative;
}

/* Main column */
.sailingtext {
  -ms-flex: 50%; /* IE10 */
  flex: 50%;
  background-color: #403F40;
  color: #FFFFFF;
  padding: 30px;
}

/*******************************/
/* Climbing page contents */

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.climbingphoto {
  -ms-flex: 50%; /* IE10 */
  flex: 50%;
  background: url("/img/Climbing.jpg") no-repeat top;
  background-size: cover;
  height: 100%;
  min-height: 800px;
  width:100%;
  position: relative;
}

/* Main column */
.climbingtext {
  -ms-flex: 50%; /* IE10 */
  flex: 50%;
  background-color: #F5F4EE;
  color: #403F40;
  padding: 30px;
}

/*******************************/
/* About page contents */

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.aboutphoto {
  -ms-flex: 50%; /* IE10 */
  flex: 50%;
  background: url("/img/Me.jpg") no-repeat top;
  background-size: cover;
  height: 100%;
  min-height: 800px;
  width:100%;
  position: relative;
}

/* Main column */
.abouttext {
  -ms-flex: 50%; /* IE10 */
  flex: 50%;
  background-color: #881E2B;
  color: #FFFFFF;
  padding: 30px;
}

/* unvisited link */
a.paper:link {
 color: white;
}

/* visited link */
a.paper:visited {
 color: #CFCDC9;
}

/* mouse over link */
a.paper:hover {
 color: #F5F4EE;
}

/* selected link */
a.paper:active {
 color: #CFCDC9;
}

/*******************************/
/* Responsive layout - when the screen is less than 500px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 550px) {
  header {
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 70px;
  }
  .bar a {
    text-align:center;
    padding-left: 52px;
    float: none;
    display: block;
    width: 100%;
    padding-bottom: 10px;
  }
  .bar a.name {
    text-align:center;
    padding-left: 10px;
  }
  .bar img {
    float: none;
  }
  .dropdown{
    width: 100%;
    padding-left: 0px;
  }

  button {
    text-align:center;
    padding-left: 52px;
    float: none;
    display: block;
    width: 100%;
    padding-bottom: 30px;
  }

  .dropdown-content a{
    padding-left: 0px;
    display: block;
    width: 100%;
  }
  .dropdown-content{
    width: 100%;
  }
}


/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other, and put the photos second */
/* and make the content headers (h4) smaller */
@media screen and (max-width: 800px) {
  h4 {
    font-size: 60px;
    padding-left:0px;
  }

  .row {
    flex-direction: column;
  }
  .aboutphoto{
    order:2;
  }
  .dancephoto{
    order:2;
  }
  .climbingphoto{
    order:2;
  }
  .sailingphoto{
    order:2;
  }
  .jazzphoto{
    order:2;
  }
}
